.comment {
  display: flex;
}

.comment__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.comment__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.comment__main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.comment__votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment__votes > *:not(:last-child) {
  margin-bottom: 0.1em;
}

.comment__aside {
  padding: 0.5em;
}

.comment__votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment__votes > *:not(:last-child) {
  margin-bottom: 0.1em;
}

.comment__vote {
  font-size: 1rem;
  color: var(--white);
  padding: 0.3em;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.comment__vote:hover {
  background: rgba(0, 0, 0, 0.5);
}

.comment__vote:first-child:hover {
  color: var(--red);
}

.comment__vote:last-child:hover {
  color: var(--blue);
}

.vote_red {
  color: var(--red);
}

.vote_blue {
  color: var(--blue);
}

.comment__collapse {
  flex: 1;
  background: var(--white);
  width: 2px;
}

.comment__collapse:hover {
  background: var(--blue);
  cursor: pointer;
}

.comment__header {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.comment__header > *:not(:last-child) {
  margin-right: 0.5em;
}

.comment__user {
  text-decoration: none;
  color: var(--blue);
}

.comment__user:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment__button {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0.5em;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
  border: none;
  background: none;
  outline: none;
}

.comment__button:hover {
  background: var(--blue);
}

.comment__reply__icon {
  margin-right: 0.2em;
}

.comment__expand {
  margin: 0 0.3rem;
}

.comment__expand:hover {
  cursor: pointer;
  color: var(--blue);
}
