html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --blue: rgb(88, 143, 248);
  --black: rgb(15, 15, 15);
  --lighter-black: rgb(26, 28, 34);
  --grey: rgb(37, 38, 44);
}
