html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --blue: rgb(88, 143, 248);
  --black: rgb(15, 15, 15);
  --lighter-black: rgb(26, 28, 34);
  --grey: rgb(37, 38, 44);
  --lighter-grey: rgb(63, 65, 75);
  --white: rgb(215, 218, 220);
  --red: rgb(255, 81, 81);
}

/* Draft.js */

div.DraftEditor-root {
  position: relative;
  overflow-y: auto;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 10em;
  padding: 0.5em;
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  padding: 1em;
  color: grey;
  pointer-events: none;
}
