.post__card {
  display: flex;
  width: 70%;
  color: var(--white);
  background: var(--lighter-grey);
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
}

.post__card:hover {
  border: 1px solid var(--blue);
}

.post__card__aside {
  padding: 0.5em;
}

.post__card__votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__card__votes > *:not(:last-child) {
  margin-bottom: 0.1em;
}

.post__card__vote {
  font-size: 1rem;
  color: var(--white);
  padding: 0.3em;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.post__card__vote:hover {
  background: rgba(0, 0, 0, 0.5);
}

.post__card__vote:first-child:hover {
  color: var(--red);
}

.post__card__vote:last-child:hover {
  color: var(--blue);
}

.post__card__upvotes {
  font-weight: 700;
}

.vote_red {
  color: var(--red);
}

.vote_blue {
  color: var(--blue);
}

.post__card__main {
  flex: 1;
  padding: 0.5em;
}

.post__card__main > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.post__card__header {
  font-size: 0.8rem;
}

.post__card__header > *:not(:last-child) {
  margin-right: 0.5em;
}

.post__card__community {
  color: var(--blue);
  text-decoration: none;
}

.post__card__community:hover {
  text-decoration: underline;
}

.post__card__user {
  color: var(--blue);
  text-decoration: none;
}

.post__card__user:hover {
  text-decoration: underline;
}

.post__card__time {
  color: var(--blue);
  text-decoration: none;
}

.post__card__time:hover {
  text-decoration: underline;
}

.post__card__content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.post__card__content > *:not(:last-child) {
  margin-bottom: 0.5em;
}

.post__card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.post__card__button {
  display: flex;
  color: var(--white);
  padding: 0.5em;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: none;
  outline: none;
}

.post__card__button:hover {
  background: var(--blue);
}

.post__card__comments {
  font-weight: 700;
}

.comment__icon {
  margin-top: 0.03em;
  margin-right: 0.3em;
}
