.editor {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: var(--white);
  color: var(--black);
  overflow: hidden;
  height: 10em;
}

.editor__toolbar {
  display: flex;
  padding: 0.5em;
  background: var(--blue);
}

.editor__toolbar > *:not(:last-child) {
  margin-right: 1rem;
}
