.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background: var(--black);
  z-index: 1;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__left > *:not(:last-child) {
  margin-right: 2em;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__right > *:not(:last-child) {
  margin-right: 1.5em;
}

.header__icon {
  font-size: 1.5rem;
  color: var(--blue);
  cursor: pointer;
}
