.toolbar__button {
  font-size: 1rem;
  background: var(-white);
  display: flex;
  padding: 0.5em;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.toolbar__button_active {
  background: var(--black);
  color: white;
}
